/*====== MEDIA QUERIES PARA MAIORES DISPOSITIVOS DESKTOP ======*/

@media screen and (max-width: 1200px) {
    /* SECTION ABOUT */

    .about .img-box {
        margin-bottom: 80px;
    }

    .about .img-box img {
        width: 100%;
    }

    .about .content-box {
        position: static;
        max-width: 100%;
        text-align: center;
        padding: 0 95px;
    }

    /* FOOTER */ 
    .social {
        flex-direction: column;
        gap: 16px;
    }

    .footer-nav {
        flex-direction: column;
        gap: 28px;
    }
}

/*====== MEDIA QUERIES PARA TABLETS MAIORES ======*/
@media (min-width: 769px) and (max-width: 992px) {
    /* HEADER */
    header {
        padding: 65px 40px ;
        margin-bottom: 120px;
    }

    /* INTRO */
    .intro h1 {
        padding: 22px;
        font-size: 4em;
    }

    /* SECTION ABOUT */
    .about {
        padding: 0 40px;
        margin-bottom: 120px;
    }

    .about .content-box {
        padding: 0px 0px;
    }

    .about .content-box h2 {
        font-size: 2.8em;
    }

    .products h2 {
        font-size: 2.8em;        
    }
}


@media screen and (max-width: 992px) {
    /* SECTION PRODUCTS */
    .products h2 {
        text-align: center;
    }

    .products .btn {
        display: block;
        position: static;
        width: max-content;
        margin: auto;
        margin-top: 80px;
    }

    /* FOOTER */ 
    .social {
        flex-direction: column;
        gap: 16px;
    }

    .footer-nav {
        flex-direction: column;
        gap: 28px;
    }
}

/*====== MEDIA QUERIES PARA DISPOSITIVOS MENORS E TABLETS ======*/

@media (min-width: 576px) and (max-width: 768px) {
    /* HEADER */
    header {
        padding: 65px 40px;
        margin-bottom: 120px;
    }

    /* INTRO */
    .intro h1 {
        padding: 22px;
        font-size: 3.5em;
    }

    /* SECTION ABOUT */
    .about {
        padding: 0 40px;
        margin-bottom: 120px;
    }

    .about .content-box {
        padding: 0px 0px;
    }

    .about .content-box h2 {
        font-size: 2.5em;
    }

    .products {
        padding: 0 40px;
    }

    .products h2 {
        font-size: 2.5em;        
    }

    /* FOOTER */
    footer {
        padding: 55px 40px;
    }
}

/*====== MEDIA QUERIES PARA MOBILE (CELULAR) ======*/

@media screen and (max-width: 576px) {
    header {
        padding: 30px 20px;
        margin-bottom: 120px;
    }

    .intro h1 {
        font-size: 2.6em;
        padding: 20px;
    }

    .about {
        padding: 0 20px;
        margin-bottom: 110px;
    }

    .about .content-box {
        padding: 0 0px;
    }

    .about .content-box h2 {
        font-size: 2.3em;
    }

    .about .img-box {
        margin-bottom: 50px;
    }

    .products {
        padding: 0 40px;
        margin-bottom: 120px;
    }

    .products h2 {
        font-size: 2.3em;
        margin-bottom: 50px;
    }

    .products-list .products-card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    footer {
        padding: 30px 20px;
    }

    .footer-nav ul {
        display: block;
    }

    .footer-nav ul li {
        margin-bottom: 24px;
    }
}

/*MENU*/
@media (max-width: 768px) {
    .navbar-nav ul {
        display: none;
    }
    
    #mobile-btn {
        display: block;
    }
}
