* {
    padding: 0;
    margin: 0;
}

/*

###COLORS###
- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%)

###FONTS###
- Family: [Alata](https://fonts.google.com/specimen/Alata)
- Weight: 400

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weight: 300

*/

body {
    height: 2000px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.bg {
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
}

/* HEADER */
.header {
    max-width: 100%;
    padding: 60px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

#mobile-btn {
    display: none;
    color: #fff;
}

.menu {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.menu li a {
    color: #fff;
    font-weight: bold;
    padding: 16px;
}

@media (max-width: 890px) {
    .menu {
        display: none;
    }

    #mobile-btn {
        display: block;
    }
}

/* INTRO */
.intro {
    height: 340px;
    max-width: 100%;
}

.intro-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.intro-container p {
    color: #fff;
    display: inline-block;
    border: 2px solid #fff;
    padding: 32px 0 32px 40px;
    text-transform: uppercase;
    line-height: 3.8rem;
    font-size: 4.2rem;
    width: 50%;
}

@media (min-width: 375px) and (max-width: 890px) {
    .bg {
        background-image: url(../images/mobile/image-hero.jpg);
    }

    .intro-container {
        margin: 50px auto;
        align-items: center;
        max-width: 100%;
        height: 100%;
    }

    .intro-container p {
        color: #fff;
        display: inline-block;
        border: 2px solid #fff;
        padding: 24px 112px 24px 32px;
        text-transform: uppercase;
        line-height: 2.5rem;
        font-size: 2.5rem;
        max-width: 230px;
        margin: 0 auto;
    }
}

@media (min-width: 890px) and (max-width: 1315px) {
    .intro-container {
        margin: 50px auto;
        align-items: center;
        justify-content: center;
    }

    .intro-container p {
        color: #fff;
        display: inline-block;
        border: 2px solid #fff;
        padding: 24px 10px 28px 32px;
        text-transform: uppercase;
        line-height: 3.8rem;
        font-size: 4rem;
        max-width: 490px;
    }
}

