* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*

###COLORS###
- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%)

###FONTS###
- Family: [Alata](https://fonts.google.com/specimen/Alata)
- Weight: 400

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weight: 300

*/

body {
    height: 2000px;
    background: rgb(193, 192, 192);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* HEADER */ 

.main-container {
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background: url(../images/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
    padding: 65px 165px;
    margin-bottom: 180px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.nav-bar a {
    color: #fff;
}

.nav-bar ul {
    display: flex;
    gap: 32px;
    font-weight: bold;
}

.intro h1 {
    max-width: 650px;
    padding: 38px;
    margin-bottom: 80px;
    border: 2px solid #fff;
    font-size: 4.7em;
    color: #fff;
    text-transform: uppercase;
}

#mobile-btn {
    display: none;
    color: #fff;
}

@media (max-width: 960px) {
    .navbar-nav ul {
        display: none;
    }

    #mobile-btn {
        display: block;
    }
}

